<h1>Hello {{session.first_name}}</h1>
<img src="{{session.picture}}">
<button onclick="logout()">logout</button>
<button onclick="create()">Create Project</button>

Your projects
{{#each projects}}
	<div id="project">
		{{this.page_name}}
	</div>
{{/each}}